@model SeriesApp.Models.series
@{
    ViewBag.Title = "Episode";
}
@using SeriesApp.Models;

@{
    SeriesEntities db = new SeriesEntities();
    var episodes = db.Episodes.Where(s => s.Serial == Model.ID).ToList();
    var seasons = episodes.GroupBy(s => s.Season).Count();

    for (int i = 1; i <= seasons; i++)
    {
        string collapse, collapseId, heading = String.Empty;
        collapse = "#collapse" + i;
        collapseId = "collapse" + i;
        heading = "heading" + i;
        <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
            <div class="panel-group">
                <div class="panel-group" role="tab" id=@heading>
                    <a data-toggle="collapse" data-parent="#accordionEx" href=@collapse aria-expanded="true" class="collapseHeader"
                       aria-controls=@collapseId>
                        <h3 class="seasonAccordion">
                            <strong>Season @i</strong>
                            @*<button type="button" id="seenSeason" class="btnEpisode"><i class="fa fa-eye"></i></button>*@
                        </h3>
                    </a>
                </div>
                <div id=@collapseId class="collapse @(i  == seasons ? "show" : "")" role="tabpanel" aria-labelledby=@heading data-parent="#accordionEx">
                    <div class="panel-body">
                        <table class="table">
                            @foreach (var ep in episodes.Where(s => s.Season == i))
                            {
                                <tr>
                                    <td>@ep.Title</td>
                                    <td>
                                        <button type="button" id="btnSeenEp" onclick="seenEpisode(@ep.ID, this)" class="btnEpisode @(ep.Seen == 1 ? "seen" : "unseen")">
                                            <i class="fa fa-eye"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
}
<style>
    .btnEpisode {
        padding: 0;
        border: none;
        background: none;
    }

    .unseen {
        color: grey;
    }

    .seen {
        color: green;
    }

    .seasonAccordion {
        color: black;
    }

    .panel-group a:hover {
        outline: none;
        text-decoration: none;
    }
</style>
<script>
    //$('.collapseHeader').click(function () {
    //    if ($('.accordion').parent('h3').hasClass('show')) {
    //        alert(active);
    //    }
    //});
    function seenEpisode(id, buttonId) {
        $.ajax({
            url: '/Home/SeenEpisode',
            data: { "id": id },
            type: 'POST',
            error: function (xhr) {
                alert('Error: ' + xhr.statusText);
            },
            success: function (result) {
                if (result) {
                    console.log(buttonId);
                    $(buttonId).removeClass("unseen").addClass("seen");

                }
            }
        });
    }
</script>