@model IEnumerable<SeriesApp.Models.series>
@{
    ViewBag.Title = "Index";
    var username = User.Identity.Name;
}

@*<style>
    .rotating-slider ul.slides li {
        color: #fff
    }

        .rotating-slider ul.slides li:nth-of-type(1) {
            background: url(http://static.pexels.com/wp-content/uploads/2014/06/bridge-city-night-645-827x550.jpg);
        }

        .rotating-slider ul.slides li:nth-of-type(2) {
            background: url('http://static.pexels.com/wp-content/uploads/2014/05/car-oldtimer-snow-342-825x550.jpg');
        }

        .rotating-slider ul.slides li:nth-of-type(3) {
            background: url(http://static.pexels.com/wp-content/uploads/2014/06/bridge-city-night-645-827x550.jpg);
        }

        .rotating-slider ul.slides li:nth-of-type(4) {
            background: url('http://static.pexels.com/wp-content/uploads/2014/06/analog-camera-old-olympus-om-10-1528-825x550.jpg');
        }

        .rotating-slider ul.slides li:nth-of-type(5) {
            background: url('http://static.pexels.com/wp-content/uploads/2014/05/car-oldtimer-snow-342-825x550.jpg');
        }

        .rotating-slider ul.slides li:nth-of-type(6) {
            background: url(http://static.pexels.com/wp-content/uploads/2014/06/bridge-city-night-645-827x550.jpg);
        }

        .rotating-slider ul.slides li .inner {
            box-sizing: border-box;
            padding: 2em;
            height: 100%;
            width: 100%;
        }
</style>*@
@using (Html.BeginForm())
{
    <section class="padding-top-5">
        <div class="container overlay">
            <div class="row title-search">
                <div class="col col-lg-8 section-title">Unseen series</div>
                <div class="col col-lg-4">
                    <div class="input-group mb-3">
                        <input id="txtSearch" class="form-control" placeholder="Search..." onkeyup="search(this.value, 'SeriesList')">
                        <div class="input-group-append">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNew" title="Add new serial"><i class="fa fa-plus"></i>Add</button>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <table id="SeriesList" class="flex-center">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="card-group" style="justify-content: space-around;">
                        @foreach (var item in Model)
                        {
                            if (item.Seen == 0)
                            {
                                <td>
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-element">
                                                <img src="~/@item.Source" alt=@Html.DisplayFor(modelItem => item.Name) class="imgSeries" />
                                                <div class="overlay-title">
                                                    <a href="@Url.Action("Edit", "Home")/@Html.DisplayFor(modelItem => item.ID)">
                                                        <label id="lblName" class="card-title">@item.Name.ToString().Replace("_", " ")</label>
                                                    </a>
                                                    <div style="text-align: center; display: grid;">
                                                        <div class="overlay-button">
                                                            <a class="button card-button pointer-arrow" style="margin-bottom: 1px;" onclick="deleteRow(@Html.DisplayFor(modelItem => item.ID))"><i class="fa fa-trash green-icon"></i> Delete</a>
                                                        </div>
                                                        <div class="overlay-button">
                                                            <a name="Seen" value="@item.ID" class="button card-button pointer-arrow" onclick="document.location.href='@Url.Action("Seen", "Home")/@Html.DisplayFor(modelItem => item.ID)'"><i class="fa fa-eye red-icon"></i> Seen</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            }
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewSerial" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addNewSerial">Add new serial</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name: </label>
                        <div class="controls">
                            <input type="text" name="name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Source:</label>
                        <div class="controls">
                            <input type="text" name="source" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="check_public">
                            <label class="form-check-label" for="exampleCheck1">Public</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>

    @*<section>
        <div  class="container full">
            <div class="rotating-slider">
                <ul class="slides">
                    <li>
                        <div class="inner">
                            <h2>jQuery Rotating Slider</h2>
                            <p>A fancy rotator plugin.</p>
                        </div>
                    </li>
                    <li>
                        <div class="inner"></div>
                    </li>
                    <li>
                        <div class="inner">
                            <h2>Slide 2</h2>
                            <p>This is slide 2</p>
                        </div>
                    </li>
                    <li>
                        <div class="inner"> </div>
                    </li>
                    <li>
                        <div class="inner">
                            <h2>Slide 3</h2>
                            <p>This is slide 3</p>
                        </div>
                    </li>
                    <li>
                        <div class="inner">
                            <h2>Slide 4</h2>
                            <p>This is slide 4</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>*@

    <section class="padding-top-5">
        <div class="container overlay">
            <div class="row title-search">
                <div class="col col-lg-8 section-title">Seen series</div>
                <div class="col col-lg-4">
                    <div class="input-group mb-3">
                        <input id="txtSearch" class="form-control" placeholder="Search..." onkeyup="search(this.value, 'SeenSeriesList')">
                    </div>
                </div>
            </div>

            <br />
            <hr />

            <table id="SeenSeriesList" class="flex-center">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="card-group" style="justify-content: space-around;">
                        @foreach (var item in Model)
                        {
                            if (item.Seen == 1)
                            {
                                <td>
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-element">
                                                <img src="~/@item.Source" alt=@Html.DisplayFor(modelItem => item.Name) class="imgSeries" />
                                                <div class="overlay-title">
                                                    <a href="@Url.Action("Edit", "Home")/@Html.DisplayFor(modelItem => item.ID)">
                                                        <label id="lblName" class="card-title">@item.Name.ToString().Replace("_", " ")</label>
                                                    </a>
                                                    <div style="text-align: center; display: grid;">
                                                        <div class="overlay-button">
                                                            <a class="button card-button pointer-arrow" style="margin-bottom: 1px;" onclick="deleteRow(@Html.DisplayFor(modelItem => item.ID))"><i class="fa fa-trash green-icon"></i> Delete</a>
                                                        </div>
                                                        <div class="overlay-button">
                                                            <a name="Seen" value="@item.ID" class="button card-button pointer-arrow" onclick="document.location.href='@Url.Action("Seen", "Home")/@Html.DisplayFor(modelItem => item.ID)'"><i class="fa fa-eye red-icon"></i> Seen</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            }
                        }
                    </tr>
                </tbody>
            </table>
            <div class="form-group text-center">
                <button id="showMore" type="button" class="btn btn-primary">Show more...</button>
                <button id="showLess" type="button" class="btn btn-primary">Show less...</button>
            </div>
        </div>
    </section>
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
@*<script src="~/Scripts/jquery.rotating-slider.js"></script>*@
<script>
    $(document).ready(function () {
        size_td = $("#SeenSeriesList td").length;
        $("#SeenSeriesList td").hide();
        x = 6;
        $('#SeenSeriesList td:lt(' + x + ')').show();

        $('#showMore').click(function () {
            x = (x + 3 <= size_td) ? x + 3 : size_td;
            $('#SeenSeriesList td:lt(' + x + ')').show();
        });
        $('#showLess').click(function () {
            x = (x - 3 < 0) ? 3 : x - 3;
            $('#SeenSeriesList td').not(':lt(' + x + ')').hide();
        });
        //$('.rotating-slider').rotatingSlider({
        //    slideHeight: Math.min(360, window.innerWidth - 80),
        //    slideWidth: Math.min(480, window.innerWidth - 80),
        //});
    });

    function search(searchedVal, table) {
        var value = searchedVal.toLowerCase().trim();
        var tableString = "#" + table + " td";
        $(tableString).show();
        $("#" + table + " .card").filter(function () {
            $(this).toggle($(this).find('.card-title').text().toLowerCase().indexOf(value) > -1)
        });
    }

    function deleteRow(id) {
        var r = confirm("Are you sure you want to delete this record?");
        if (r == true) {
            window.location.assign("/Home/Delete/" + id);
        }
    }
</script>
<style type="text/css">
    .pointer-arrow:hover {
        cursor: pointer;
    }
</style>
