@model  TvShows.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";

}


@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form", @class = "form-horizontal form-material row" }))
{
    @Html.AntiForgeryToken()
    <div class="card overlay col-md-6">
        <div class="card-header">
            Log In
        </div>
        <div class="card-body">
            <div class="form-group">
                @Html.LabelFor(u => u.Email)
                @Html.EditorFor(u => u.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                @Html.LabelFor(u => u.Password)
                @Html.EditorFor(u => u.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
            <p>
                <button type="submit" class="btn btn-primary">Log In</button>
            </p>
        </div>
    </div>
}


<script src="@(BundleTable.Bundles.ResolveBundleUrl("~/Bundle/jqueryValidateJs"))" defer></script>