@model IEnumerable<TvShows.Models.Series>
@{
    ViewBag.Title = "TV Shows";
    var username = User.Identity.Name;
}
@using (Html.BeginForm())
{
    <section class="padding-top-5">
        <div class="container overlay">
            <div class="row title-search">
                <div class="col col-lg-8 section-title">Unseen series</div>
                <div class="col col-lg-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search bigicon"></i></span>
                        </div>
                        <input id="txtSearch" placeholder="Search..." class="form-control" onkeyup="search(this.value, 'SeriesList')">
                    </div>
                </div>
            </div>
            <hr />
            <table id="SeriesList" class="flex-center">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="card-group space-around">
                        @foreach (var item in Model)
                        {
                            if (item.Seen == 0)
                            {
                                <td>
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-element">
                                                <img src="~/@item.Source" alt=@Html.DisplayFor(modelItem => item.Name) class="imgSeries" />
                                                <div class="overlay-title">
                                                    <a href="@Url.Action("Edit", "Home")/@Html.DisplayFor(modelItem => item.ID)">
                                                        <i class="fa fa-film white-icon"></i> <label id="lblName" class="card-title pointer-arrow">@item.Name.ToString().Replace("_", " ")</label>
                                                    </a>
                                                    <div class="card-buttons">
                                                        <div class="overlay-button">
                                                            <a name="Seen" value="@item.ID" class="button card-button pointer-arrow" onclick="document.location.href='@Url.Action("Seen", "Home")/@Html.DisplayFor(modelItem => item.ID)'"><i class="fa fa-eye red-icon"></i> Seen</a>
                                                        </div>
                                                        <div class="overlay-button">
                                                            <a class="button card-button pointer-arrow" onclick="deleteRow(@Html.DisplayFor(modelItem => item.ID))"><i class="fa fa-trash-o green-icon"></i> Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            }
                        }
                    </tr>
                </tbody>
            </table>
        </div>
    </section>

    <div class="modal fade" id="addNew" tabindex="-1" role="dialog" aria-labelledby="addNewSerial" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addNewSerial">Add new serial</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name: </label>
                        <div class="controls">
                            <input type="text" name="name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Source:</label>
                        <div class="controls">
                            <input type="text" name="source" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input type="checkbox" class="form-check-input" name="check_public">
                            <label class="form-check-label" for="exampleCheck1">Public</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <section class="padding-top-5">
        <div class="relative">
            <ul id="lightSlider">
                @foreach (var serial in Model)
                {
                    <li>
                        <img src="~/@serial.Source" alt=@Html.DisplayFor(modelItem => serial.Name) class="lightslider-image" />
                    </li>
                }
            </ul>
            <button type="button" class="btn btn-primary on-top" data-toggle="modal" data-target="#addNew" title="Add new serial"><i class="fa fa-plus"></i> Add New</button>
        </div>
    </section>

    <section class="padding-top-5">
        <div class="container overlay">
            <div class="row title-search">
                <div class="col col-lg-8 section-title">Seen series</div>
                <div class="col col-lg-4">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-search bigicon"></i></span>
                        </div>
                        <input id="txtSearch" placeholder="Search..." class="form-control" onkeyup="search(this.value, 'SeenSeriesList')">
                    </div>
                </div>
            </div>
            <br />
            <hr />
            <table id="SeenSeriesList" class="flex-center">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="card-group space-around">
                        @foreach (var item in Model)
                        {
                            if (item.Seen == 1)
                            {
                                <td>
                                    <div class="col">
                                        <div class="card">
                                            <div class="card-element">
                                                <img src="~/@item.Source" alt=@Html.DisplayFor(modelItem => item.Name) class="imgSeries" />
                                                <div class="overlay-title">
                                                    <a href="@Url.Action("Edit", "Home")/@Html.DisplayFor(modelItem => item.ID)">
                                                        <label id="lblName" class="card-title pointer-arrow">@item.Name.ToString().Replace("_", " ")</label>
                                                    </a>
                                                    <div class="card-buttons">
                                                        <div class="overlay-button">
                                                            <a name="Seen" value="@item.ID" class="button card-button pointer-arrow" onclick="document.location.href='@Url.Action("Seen", "Home")/@Html.DisplayFor(modelItem => item.ID)'"><i class="fa fa-eye red-icon"></i> Seen</a>
                                                        </div>
                                                        <div class="overlay-button">
                                                            <a class="button card-button pointer-arrow" onclick="deleteRow(@Html.DisplayFor(modelItem => item.ID))"><i class="fa fa-trash-o green-icon"></i> Delete</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            }
                        }
                    </tr>
                </tbody>
            </table>
            <div class="form-group text-center">
                <button id="showMore" type="button" class="btn btn-primary">Show more...</button>
                <button id="showLess" type="button" class="btn btn-primary">Show less...</button>
            </div>
        </div>
    </section>
}
