<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Series</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/lightSlider")
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/scriptJs")
    @Scripts.Render("~/bundles/lightSlider")
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            @if (@User.Identity.IsAuthenticated)
            {
                @Html.ActionLink("Hello " + @User.Identity.Name + "!", "Index", "Home", new { @class = "navbar-brand" })
            }
            else
            {
                @Html.ActionLink("Login", "Index", "Home", new { @class = "navbar-brand" })
            }
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li>
                        <a href="@Url.Action("Registration", "Auth")" class="nav-link">Register</a>
                    </li>
                    <li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a href="@Url.Action("Logout", "Auth")" class="nav-link">Logout </a>
                        }
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container full">
        <div id="carousel"></div>
        @RenderBody()
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>
</body>
</html>